.body {
    background-color: #2f2a2a;
    padding: 20px;
    border-radius: 5px;
}

.container {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}