<head>
    <meta charset="UTF-8">
    <title>Meu site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
<div class="container">
    <h1 class="texto-central">Insira algo aqui</h1>
    <form action="/enviar" method="post">
        <input type="text" name="meu_input" placeholder="Insira seu nome">
        <button type="submit">Enviar</button>
    </form>
</div>
<form action="/enviar" method="post">
    <input
        type="text"
        name="meu_input"
        placeholder="Digite apenas letras"
        pattern="[a-zA-Z]*"
        title="Apenas letras são permitidas"
        required
    >
    <button type="submit">Enviar</button>
</form>