<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Mlltr</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Eae, se  vc achou isso quer dizer q vc é alguem em especifico...</h1>
    <p> e tbm significa q eu tive coragem de mandar isso pra vc</p>
    <a href="/">Voltar</a>
    <p>Caso vc n queira ler oq vem a seguir</p>
    <p>N vou julgar</p>
    <audio controls autoplay loop>
      <source src="{{ url_for('static', filename='musica.mp3') }}" type="audio/mpeg">
    </audio>
</body>
</html>