<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"Mlltr</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="curtain-container" id="curtainContainer">
      <div class="curtain left" id="curtainLeft"></div>
      <div class="curtain right" id="curtainRight"></div>
      <button class="curtain-btn" id="curtainBtn" onclick="abrirCortina()">Abrir cortina</button>
    </div>
    <div id="conteudoSecret" style="opacity:0; transition: opacity 0.8s 0.7s;">
      <h1>Eae, se  vc achou isso quer dizer q vc é alguem em especifico...</h1>
      <p> e tbm significa q eu tive coragem de mandar isso pra vc</p>
      <a href="/">Voltar</a>
      <p>Caso vc n queira ler oq vem a seguir</p>
      <p>N vou julgar</p>
      <audio controls autoplay loop>
        <source src="{{ url_for('static', filename='musica.mp3') }}" type="audio/mpeg">
      </audio>
    </div>
    <script>
      function abrirCortina() {
        document.getElementById('curtainLeft').classList.add('open');
        document.getElementById('curtainRight').classList.add('open');
        document.getElementById('curtainContainer').classList.add('open');
        document.getElementById('curtainBtn').style.display = 'none';
        setTimeout(function() {
          document.getElementById('curtainContainer').style.display = 'none';
          document.getElementById('conteudoSecret').style.opacity = 1;
        }, 1200);
      }
    </script>
</body>
</html>